<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">

		<section class="py-5">
			<!-- 상품등록 버튼 생성 -->
			<<span style="display: flex; justify-content: center;"> <a
				th:href="@{/main/register}">
					<button type="button" class="btn btn-outline-primary">상품등록</button>
			</a>
			</span>

			<div class="container px-4 px-lg-5 mt-5"></div>
			<div
				class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"></div>
			<div class="col mb-5">
				<div class="card h-100">
					<!-- Product image-->

					<!-- 이미지자리 -->

					<!-- Product details-->
					<block th:each="dto : ${list}"><!-- 게시물 리스트를 하나씩 꺼내서 처리하기 -->
					<div class="card-body p-4">
						<div class="text-center">
							<!-- 상품번호 -->
							<h6>상품번호 [[${#temporals.format(dto.regDate,
								'yyyyMMdd')}]]-[[${dto.no}]]</h6>
							<!-- product company -->
							제조사: [[${dto.company}]]
							<!-- Product name-->
							<h4 class="fw-bolder">[[${dto.product}]]</h4>
							<!-- Product price-->
							<h5>가격: [[${dto.price}]]</h5>
						</div>
					</div>
					<!-- Product actions-->
					<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
						<div class="text-center">
							<a class="btn btn-outline-dark mt-auto" href="#">상품상세보기</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col mb-5"></div>
			<div class="card h-100"></div>

			</block>
		</section>
	</th:block>

</th:block>