<!DOCTYPE html>
<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

	<th:block th:fragment="content">

	
		<h1 class="mt-4" style="font-weight: bold">상품 정보 수정하기</h1>
	
	<div class="form-group">
            <label >상품번호</label>
            <input type="text" class="form-control" name="no" th:value="${dto.no}" readonly >
        </div>
         <div class="form-group">
            <label >제조사</label>
            <input type="text" class="form-control" name="company" th:value="${dto.company}" >
        </div>
          <div class="form-group">
            <label >상품명</label>
            <input type="text" class="form-control" name="product" th:value="${dto.product}" >
        </div>
         <div class="form-group">
            <label >내용</label>
            <textarea class="form-control" rows="5" name="content">[[${dto.content}]]</textarea>
        </div>
         <div class="form-group">
            <label >가격</label>
            <input type="text" class="form-control" name="price" th:value="${dto.price}" >
        </div>
        
         <button type="button" class="btn btn-primary modifyBtn">저장하기</button>

        <button type="button" class="btn btn-info listBtn">목록으로</button>
        
         <button type="button" class="btn btn-danger removeBtn">삭제</button>
         
         <!--버튼 이벤트 처리하기   -->
         
         <script th:inline = "javascript">
         //$()함수 : CSS선택자로 HTML 태그를 가져온다
         var form = $("form"); //form 태그 객체 가져오기
         
         //click()메소드 : 수정버튼을 클릭하면 특정코드를 수행한다.
         //confirm() 메소드: 수정여부를 확인하는 창을 띄운다.
         //[확인]을 클릭하면, 서버에 게시물 수정을 요청한다. 
         //[취소]를 선택하면 이벤트를 종료한다.
         $(".modifyBtn").click(function(){
        	 if(!confirm("수정하시겠습니까?")){
        	 return ;
        	 }
        	 //form~attr!submit: 서버에 게시물 수정 요청
        	 //폼태그는 PUT 방식을 사용할 수 없으므로, POST 방식으로 처리
        	 form 
        	 	.attr("action","/main/modify")
        	 	.attr("method","post")
        	 	.submit();
         });
         //목록처리
         $(".listBtn").click(function(){
        	 form
         	.attr("action","/main/list")
         	.attr("method","get")
         	.submit();
         })
         //삭제처리
         $(".removeBtn").click(function(){
        	 form
			.attr("action","/main/remove")
			.attr("method","post")
			.submit();
         });
         
         </script>
         
 </th:block>

</th:block>

       

